[submodule "subprojects/openglshader"]
	path = external/openglshader
	url = https://github.com/gig2/OpenGLShader
[submodule "subprojects/openglmeshrender"]
	path = external/openglmeshrender
	url = https://github.com/gig2/OpenGLMeshRender
[submodule "external/openglmeshrender"]
	path = external/openglmeshrender
	url = https://github.com/gig2/OpenGLMeshRender
[submodule "external/openglshader"]
	path = external/openglshader
	url = https://github.com/gig2/OpenGLShader
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
